/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 0;
  margin: 0 auto;
  background-image: var(--background-rows), var(--background-columns), var(--background-page-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-variation-settings: var(--main-font-weight);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font-family), sans-serif;
  }
} 

.content {
  display: grid;
  grid-template-columns: minmax(320px, 700px);
  padding: 0;
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  height: 368px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  text-align: center;
}

.header__title {
  font-family: var(--accent-font-family);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--accent-font-weight);
  color: var(--accent-color);
  line-height: 65px;
  text-transform: uppercase;
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__subtitle {
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--main-font-weight);
  color: var(--accent-color);
  line-height: 23px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.header__theme-menu {
  margin-top: 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  color: var(--accent-color);
}

.theme-menu__button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  background: transparent;
  border: none;
  transition: .3s;
  position: relative;
}

.theme-menu__button:disabled {
  color: var(--accent-color-active);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '►';
  margin-right: 5px;
  display: inline-block;
  position: absolute;
  left: -15px;
  animation-name: pointer;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.theme-menu__button:hover {
  color: var(--accent-color-active);
  transition: .3s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color-active);
  position: absolute;
  bottom: -2px;
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/*****           MAIN            *****/

.main {
  margin-top: 100px;
  background: transparent;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
  background: var(--background-color);
}

.card__title {
  font-family: var(--main-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 18px;
  color: var(--accent-color);
  line-height: 21.78px;
  margin: 4px auto 4px 10px;
}

.card__image-block {
  position: relative;
}

.card__image {
  width: 100%;
  outline: 2px solid var(--accent-color);
}

.card__image-label {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  color: var(--accent-color);
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke-color);*/
  text-transform: uppercase;
  position: absolute;
  display: block;
  opacity: .5;
  top: 25px;
  right: 25px;
  text-shadow: -1px 0 var(--stroke-color), 
  0 1px var(--stroke-color), 
  1px 0 var(--stroke-color), 
  0 -1px var(--stroke-color);
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--stroke-color);
      text-stroke: 1px var(--stroke-color);
      text-shadow: none;
  }
} 

.text-low {
  text-transform: lowercase;
}

.card__description {
  margin: 27px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__description-text {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  color: var(--accent-color);
}

.card__description-text:last-child {
  margin-top: 25px;
}

/*****        LIKE         *****/

.card__like-zone {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: flex-end;
}

/*****   иконка сердечко     *****/

.card__icon-button {
  padding: 0;
  background: transparent;
  border: none;
  transition: 0.3s ease;
}

.main-body {
  transition: 0.3s;
}

.core {
  transition: 0.3s 0.03s;
}

.like-icon {
  width: 39px;
  height: 30px;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill);
  transition: 0.3s;
}

/*****        сердечко нажато  /  удалить потом      *****/

.like-icon.is-liked .heart {
  fill: var(--heart-fill);
  transition: 0.3s 0.06s;
  animation-name: heart;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.like-icon.is-liked .contour {
  transition: 0.3s 0.06s;
  fill: var(--heart-fill);
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--heart-fill);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.main-body, .core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

/*****      кнопка лайкнуть       *****/

.button {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  color: var(--like-button-text);
  border: 2px solid var(--accent-color);
  background: transparent;
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  padding: 10px 36px;
}

.like-button__text {
  mix-blend-mode: difference;
}

.like-button__text-unlike {
  mix-blend-mode: difference;
  display: none;
}

.card__icon-button:has(.is-liked) + .card__like-button .like-button__text {
  display: none;
}

.card__icon-button:has(.is-liked) + .card__like-button .like-button__text-unlike {
  display: inline;
}

.card__icon-button:has(.is-liked) + .card__like-button {
  padding: 10px 22px;
}

/*****          FOOTER           *****/

.footer {
  margin-top: 50px;
  margin-bottom: 103px;
}

.button__save {
  padding: 18.5px 20px;
  margin: 0 auto;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--background-color);
}

.button__save-text {
  mix-blend-mode: difference;
}

.floppy-icon {
  height: 21px;
  width: 21px;
  mix-blend-mode: difference;
}

/*****        dialog           *****/

.dialog {
  margin: auto;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background: rgb(0 0 0 / .8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.dialog__text-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  color: var(--accent-color);
  width: 234px;
}

.dialog__button {
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 12.5px 132.5px;
  text-transform: uppercase;
  display: block;
}

.dialog__button-text {
  mix-blend-mode: difference;
}

/*****    filters for images     *****/

.image-1 {
  filter: brightness(200%);
}

.image-2 {
  filter: contrast(150%);
}

.image-3 {
  filter: saturate(80%);
}

.image-4 {
  filter: grayscale(0.7);
}

.image-5 {
  filter: invert(1);
}

.image-6 {
  filter: hue-rotate(180deg);
}

.image-7 {
  filter: blur(0.3rem);
}

.image-8 {
  filter: saturate(150%) hue-rotate(120deg) ;
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
    width: auto;
  }
}